language: scala
scala:
- 2.11.6
jdk:
- openjdk7
sudo: false
cache:
  directories:
  - $HOME/.sbt
  - $HOME/.ivy2
script: sbt ++$TRAVIS_SCALA_VERSION test ; result=$? ; find $HOME/.sbt -name "*.lock" -type f -delete ; find $HOME/.ivy2/cache -name "*[\[\]\(\)]*.properties" -type f -delete ; (exit $result)
env:
  global:
  - secure: ay2NiHHNKZ+RvVe/IafJNkJHIDAPB9DKHrbZKJaGc913xdSXvD2K/0JU7RXGgrP0M3mhsztuR3sNlEDm7qDWFIa760YAmAT9yi/QQ25CLyQ7z0xUl5GdT5X6LqoAkQhVlkxYVW4AFGjLMOQaXGLM0Tck0JggMGjE0YhoXMlca20=

