@()(implicit req: Request[AnyContent])
@main {
    <div class="row">
        <div class="col-md-6">
            <h3>What is <i>prout?</i></h3>
            <p>An aid for tracking deployment, especially <strong>continuous-deployment</strong>, <i>prout</i> is a
                bot that tells you when your GitHub pull requests are live.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Setup</h3>
            <p>Follow the 4-step program:</p>
            <ol>
                <li>Give <a href="@lib.Bot.user.html_url">@lib.Bot.user.atLogin</a> write-access to your repo (so it can set labels on your pull request)</li>
                <li>Add one or more .prout.json config files to your project</li>
                <li>Add callbacks to prout - ie a GitHub webhook and ideally also a post-deploy hook</li>
                <li>Expose the commit id of your build on your deployed site</li>
            </ol>
            <p>The <a href="https://github.com/guardian/prout#configuration">GitHub readme</a> has more details if you need them!</p>
        </div>
    </div>
}