@import lib.ConfigFinder.ProutConfigFileName
@import lib._
@import lib.Config._
@import scala.util.Success
@import scala.util.Failure
@(proutPresenceQuickCheck: Boolean, repoSnapshot: lib.RepoSnapshot, allAvailableCheckpointSnapshotsByCheckpoint: Map[Checkpoint, CheckpointSnapshot])(implicit req: Request[AnyContent])
@main {
    <div class="row">
        <div class="col-md-6">
            @for(permissions <- repoSnapshot.repo.permissions) {
                <h3>Permissions for @lib.Bot.user.atLogin</h3>
                <ul>
                    <li><em>push</em> @if(permissions.push) {
                        <span class="octicon octicon-check"></span>
                    } else {
                        <span class="octicon octicon-alert"></span>
                        Push permission is needed for writing comments and setting labels!
                    }
                     </li>
                </ul>
            }
            <h3>Config files</h3>
            @if(!proutPresenceQuickCheck) {
                <span class="octicon octicon-alert"></span>
                Quick check for @ProutConfigFileName failed!
                @if(repoSnapshot.config.checkpointsByFolder.nonEmpty) {
                    GitHub seems to be returning data different to the Git repo itself...
                }
            }
            <p>
                <ul>
            @for((folder, configInFolder) <- repoSnapshot.config.checkpointsByFolder) {
                <li>@folder@ProutConfigFileName @configInFolder.asOpt match {
                    case None => {
                        <span class="octicon octicon-alert"></span>
                    }
                    case Some(validConfig) => {
                        <span class="octicon octicon-check"></span>
                        <ul>
                            <h5>Checkpoints</h5>
                            @for(checkpoint <- validConfig.checkpointSet) {
                                <li>
                                    @checkpoint.name - <a href="@checkpoint.details.url">@checkpoint.details.url</a>
                                    @for(snapshot <- allAvailableCheckpointSnapshotsByCheckpoint.get(checkpoint))  {
                                        @snapshot.commitIdTry match {
                                            case Success(idOpt) => {
                                                Commit Id found : <code>@idOpt.toString</code>
                                            }
                                            case Failure(error) => {
                                                <span class="octicon octicon-alert"></span>
                                                Could not read from this url, got @error
                                            }
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    }
                }
                </li>
            }
            </ul>
            </p>
        </div>
    </div>
}