@import lib.ConfigFinder.ProutConfigFileName
@import org.eclipse.jgit.lib.ObjectId

@import scala.util.{Failure, Success}
@(proutPresenceQuickCheck: Boolean, repoSnapshot: lib.RepoSnapshot, diagnostic: lib.Diagnostic)(implicit req: Request[AnyContent])
    @showCommit(commitId: ObjectId) = {<a href="@repoSnapshot.repo.html_url/commit/@commitId.name"><code>@commitId.name.take(7)</code></a>}
    @showCommits(commitIds: Traversable[ObjectId]) = {@for(commitId<-commitIds) {@showCommit(commitId) }}
    @configLink(folder: String) = {<a href="@repoSnapshot.repo.html_url/blob/@repoSnapshot.repo.default_branch@folder@ProutConfigFileName">@folder@ProutConfigFileName</a>}

    @main {


    <div class="row">
        <div class="col-md-6">
            @for(permissions <- repoSnapshot.repo.permissions) {
                <h3>Permissions for @lib.Bot.user.atLogin</h3>
                <ul>
                    <li><em>push</em> @if(permissions.push) {
                        <span class="octicon octicon-check"></span>
                    } else {
                        <span class="octicon octicon-alert"></span>
                        Push permission is needed for writing comments and setting labels!
                    }
                     </li>
                </ul>
            }
            <h3>Config files</h3>
            @if(!proutPresenceQuickCheck) {
                <span class="octicon octicon-alert"></span>
                Quick check for @ProutConfigFileName failed!
                @if(repoSnapshot.config.checkpointsByFolder.nonEmpty) {
                    GitHub seems to be returning data different to the Git repo itself...
                }
            }
            <p>
                <ul>
            @for((folder, configInFolder) <- repoSnapshot.config.checkpointsByFolder) {
                <li>@configLink(folder) @configInFolder.asOpt match {
                    case None => {
                        <span class="octicon octicon-alert" title="Invalid Prout JSON"></span>
                    }
                    case Some(validConfig) => {
                        <span class="octicon octicon-check" title="Parsed as valid Prout JSON"></span>
                        <ul>
                            <h5>Checkpoints</h5>
                            @for(checkpoint <- validConfig.checkpointSet) {
                                <li>
                                    <b id="checkpoint-@checkpoint.name">@checkpoint.name</b> - <a href="@checkpoint.details.url">@checkpoint.details.url</a>
                                    @for(snapshot <- diagnostic.snapshotsByCheckpoint.get(checkpoint))  {
                                        @snapshot.commitIdTry match {
                                            case Success(idOpt) => {
                                                @idOpt match {
                                                    case Some(commitId) => {
                                                        Commit Id found : @showCommit(commitId)
                                                    }
                                                    case None => {
                                                        <span class="octicon octicon-alert"></span>
                                                        No commit id found
                                                    }
                                                }
                                            }
                                            case Failure(error) => {
                                                <span class="octicon octicon-alert"></span>
                                                Could not read from this url, got @error
                                            }
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    }
                }
                </li>
            }
            </ul>

            <h3>Merged Pull Requests</h3>
            <ul>
                @for(prDetail <- diagnostic.prDetails) {
                    <li><a href="@prDetail.pr.html_url" ><span class="octicon octicon-git-pull-request"></span> #@prDetail.pr.number - @prDetail.pr.title</a>
                        <ul>
                        @for(e <- prDetail.everythingByCheckpoint.values) {
                            <li>
                                <a href="#checkpoint-@e.snapshot.checkpoint.name"><b>@e.snapshot.checkpoint.name</b></a>
                                - @e.checkpointStatus,

                                @e.commitVisibility match {
                                    case Some(cv) => {
                                        @if(cv.seen.nonEmpty) {
                                            @showCommits(cv.seen) is deployed
                                        } else {
                                            @showCommits(cv.unseen) not yet seen
                                        }
                                    }
                                    case None => {
                                        could not check commit visibility
                                    }
                                }
                            </li>
                        }
                        </ul>
                    </li>

                }
            </ul>
        </div>
    </div>
}