@(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>pr:guardian</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#"><i>pr:guardian</i></a>
    </nav>
    <div class="body container">
        @content
    </div>
    <footer class="gw-footer">
        <div class="container">
            <ul class="gw-footer-links">
                <li><a href="https://github.com/guardian/pr-guardian">GitHub</a></li>
                <li>&middot;</li>
                <li><a href="http://rtyley.github.io/bfg-repo-cleaner/">The BFG</a> (remove unwanted Git data)</li>
            </ul>
            <p></p>
        </div>
    </footer>
</body>
</html>